[submodule "SGA"]
	path = SGA
	url = https://github.com/ModernMAK/Relic-Tool-SGA
[submodule "Chunky"]
	path = Chunky
	url = https://github.com/ModernMAK/Relic-Tool-Chunky
[submodule "UCS"]
	path = UCS
	url = https://github.com/ModernMAK/Relic-Tool-UCS
[submodule "Core"]
	path = Core
	url = https://github.com/ModernMAK/Relic-Tool-Core
